:root {
  --link-color: #136;
  --project-bg-color: #edf;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #333;
    background: #bac;
    font-family: Verdana, Geneva, sans-serif
}

div.projects-left {
    border-width: 3px;
    border-style: outset;
    border-color: MEDIUMVIOLETRED;
    float: left;
    background: var(--project-bg-color);
    width: 38%;
    margin: 2em 1em 2em 4em;
    padding: 4px;
}

div.projects-right {
    border-width: 3px;
    border-style: outset;
    border-color: MEDIUMVIOLETRED;
    float: right;
    background: var(--project-bg-color);
    width: 38%;
    margin: 2em 4em 2em 1em;
    padding: 4px;
}

table, th, td {
    border: 1px solid black;
    }
    th, td {
            padding: 15px;
    }

p {
    margin: .7em .7em .7em 3.4em;
}

ol, ul, dl, li {
    margin: 1.6em .7em .7em 1em;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: 300;
}

h1 {
    margin: 1em 8em 1em 8em;
    text-align: center;
    font-size: 2.2em;
    background-color: #339;
    color: #cfc;
}

h2 {
    font-size: 2.0em;
    margin: 1.5em 1em 1.5em 3em;
    color: #075;
    font-family: Verdana, Geneva, sans-serif
}

h2.subhead {
    font-weight:
    normal;
    margin-top:
    0;
}

h3 {
    font-size: 1.6em;
    margin: 1.4em 1em 1.4em 1em;
    color: #633;
}

h4 {
    font-size: 1.5em;
    margin: 1.3em .7em 1em 3.4em;
    color: #339;
}

figure {
    margin: 1em 1em 1em 1em;
    text-align: center;
}
figure.logo {
    margin: .6em 1em .6em 1em;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
a.menu  {
    font-size: 1.3em;
    font-weight: 600;
    background: transparent;
    color: var(--link-color);
}
a:link {
    color: var(--link-color);
}
a.menu:link {
    background: transparent;
    color: var(--link-color);
}
a:visited {
    color: var(--link-color);
}
a.menu:visited {
    background: transparent;
    color: #312;
}

